body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f9fc;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title {
    font-weight: bold;
}

.exercises {
    display: flex;
    gap: 10px;
    font-size: 14px;
}

.exercises span {
    padding: 4px 8px;
    border-radius: 6px;
    background: #e0e0e0;
}

.exercises .done {
    background: #c8e6c9;
}

.timer {
    font-size: 18px;
    font-weight: bold;
}

.progress-container {
    width: 220px;
}

.progress-bar {
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 4px;
}

.progress-fill {
    height: 100%;
    width: 0%;
    background: #4caf50;
    transition: width 0.3s;
}

.username {
    font-weight: bold;
}


.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 120px;
}

.text-display {
    font-size: 30px;
    max-width: 800px;
    text-align: center;
    line-height: 1.6;
	word-wrap: break-word;
	white-space: normal;
}

.text-display span {
    color: #bbb; 
}

.correct {
    color: #0e7a4f !important;
}

.incorrect {
    color: #d32f2f !important; 
}


.text-display {
    position: relative;
}

#cursor {
    position: absolute;
    width: 2px;
    height: 32px;
    background: black;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#cube-container {
    width: 100%;
    height: 350px;   /* plus grand */
    display: flex;
    justify-content: center;
    align-items: center;
}


#cube-container canvas {
    display: block;
}

